In [1]:
import pandas as pd

## merge

In [4]:
'Adam Robin Mike Andrew Jack Aaron'.split(' ')

['Adam', 'Robin', 'Mike', 'Andrew', 'Jack', 'Aaron']

In [20]:
eng = pd.DataFrame({'name_1':'Adam Robin Mike Andrew Jack Aaron'.split(' '),
                     'eng':[50,41,24,18,30,21]})
eng

   name_1  eng
0    Adam   50
1   Robin   41
2    Mike   24
3  Andrew   18
4    Jack   30
5   Aaron   21

In [19]:
math = pd.DataFrame({'name_2':['Adam', 'Adam', 'Dennis', 'Aaron', 'Andrew', 'Jack', 'Mark'],
                     'math':[10,15,42,70,2,22,11]})
math

   name_2  math
0    Adam    10
1    Adam    15
2  Dennis    42
3   Aaron    70
4  Andrew     2
5    Jack    22
6    Mark    11

In [21]:
# inner merge

pd.merge(left=eng, right=math, how='inner', left_on='name_1', right_on='name_2', indicator=True)

   name_1  eng  name_2  math _merge
0    Adam   50    Adam    10   both
1    Adam   50    Adam    15   both
2  Andrew   18  Andrew     2   both
3    Jack   30    Jack    22   both
4   Aaron   21   Aaron    70   both

In [8]:
# outer merge

pd.merge(left=eng, right=math, how='outer', left_on='name_1', right_on='name_2', indicator='True')

   name_1   eng  name_2  math        True
0    Adam  50.0    Adam  10.0        both
1    Adam  50.0    Adam  15.0        both
2   Robin  41.0     NaN   NaN   left_only
3    Mike  24.0     NaN   NaN   left_only
4  Andrew  18.0  Andrew   2.0        both
5    Jack  30.0    Jack  22.0        both
6   Aaron  21.0   Aaron  70.0        both
7     NaN   NaN  Dennis  42.0  right_only
8     NaN   NaN    Mark  11.0  right_only

In [9]:
# left merge

pd.merge(left=eng, right=math, how='left', left_on='name_1', right_on='name_2', indicator='qwerty')

   name_1  eng  name_2  math     qwerty
0    Adam   50    Adam  10.0       both
1    Adam   50    Adam  15.0       both
2   Robin   41     NaN   NaN  left_only
3    Mike   24     NaN   NaN  left_only
4  Andrew   18  Andrew   2.0       both
5    Jack   30    Jack  22.0       both
6   Aaron   21   Aaron  70.0       both

In [11]:
# right merge

pd.merge(left=eng, right=math, how='right', left_on='name_1', right_on='name_2', indicator=True)

   name_1   eng  name_2  math      _merge
0    Adam  50.0    Adam    10        both
1    Adam  50.0    Adam    15        both
2  Andrew  18.0  Andrew     2        both
3    Jack  30.0    Jack    22        both
4   Aaron  21.0   Aaron    70        both
5     NaN   NaN  Dennis    42  right_only
6     NaN   NaN    Mark    11  right_only

In [34]:
eng1 = pd.DataFrame({'fname_1':'Adam Robin Mike Andrew Jack Aaron'.split(' '),
                     'lname_1': 'Smith Johnson Ramsey Silver Rice Bould'.split(' '),
                     'eng':[50,41,24,18,30,21]})
eng1

  fname_1  lname_1  eng
0    Adam    Smith   50
1   Robin  Johnson   41
2    Mike   Ramsey   24
3  Andrew   Silver   18
4    Jack     Rice   30
5   Aaron    Bould   21

In [33]:
math1 = pd.DataFrame({'fname_2':['Adam', 'Adam', 'Dennis', 'Aaron', 'Andrew', 'Jack', 'Mark'],
                     'lname_2':['Smith', 'Smith', 'Lillee', 'Lee', 'Jackson', 'Morrison', 'Coy'],
                     'math':[10,15,42,70,2,22,11]})
math1

  fname_2   lname_2  math
0    Adam     Smith    10
1    Adam     Smith    15
2  Dennis    Lillee    42
3   Aaron       Lee    70
4  Andrew   Jackson     2
5    Jack  Morrison    22
6    Mark       Coy    11

In [37]:
# multi index merge

pd.merge(left=eng1, right=math1, how='left', left_on=['fname_1', 'lname_1'],
         right_on=['fname_2', 'lname_2'], indicator=True)

  fname_1  lname_1  eng fname_2 lname_2  math     _merge
0    Adam    Smith   50    Adam   Smith  10.0       both
1    Adam    Smith   50    Adam   Smith  15.0       both
2   Robin  Johnson   41     NaN     NaN   NaN  left_only
3    Mike   Ramsey   24     NaN     NaN   NaN  left_only
4  Andrew   Silver   18     NaN     NaN   NaN  left_only
5    Jack     Rice   30     NaN     NaN   NaN  left_only
6   Aaron    Bould   21     NaN     NaN   NaN  left_only

## join

In [2]:
sci = pd.DataFrame({'name':'Wayne Frank Pat Tony Lee Sol'.split(' '),
                     'sci':[41,51,87,71,87,47]})
sci.set_index('name', drop=True, inplace=True)
sci

       sci
name
Wayne   41
Frank   51
Pat     87
Tony    71
Lee     87
Sol     47

In [3]:
geo = pd.DataFrame({'name':['Rocky', 'Wayne', 'Leo', 'Frank', 'Andre', 'Tony', 'Sol'],
                     'geo':[55,17,41,28,88,24,90]})
geo.set_index('name', drop=True, inplace=True)
geo

       geo
name
Rocky   55
Wayne   17
Leo     41
Frank   28
Andre   88
Tony    24
Sol     90

In [4]:
sci2 = pd.DataFrame({'name':['Rocky', 'Jason', 'Leo', 'Michael', 'Andre', 'Tony', 'Sol'],
                     'sci2':[55,17,41,28,88,24,90]})
sci2.set_index('name', drop=True, inplace=True)
sci2

         sci2
name
Rocky      55
Jason      17
Leo        41
Michael    28
Andre      88
Tony       24
Sol        90

In [5]:
sci.join(geo, how='inner')

       sci  geo
name
Wayne   41   17
Frank   51   28
Tony    71   24
Sol     47   90

In [6]:
geo2 = geo.reset_index()
geo2

    name  geo
0  Rocky   55
1  Wayne   17
2    Leo   41
3  Frank   28
4  Andre   88
5   Tony   24
6    Sol   90

In [9]:
# in the tutorial video, I showed how the lsuffix, rsuffix arguments work using 'sci' dataframe,
# but that required manipulating the original sci dataframe which would mess with other code cells.
# hence here I've changed the sci dataframe to geo, to demonstrate how and when the l/r suffix
# arguments are needed.
geo2.join(geo, on='name', how='inner', lsuffix='_left')

    name  geo_left  geo
0  Rocky        55   55
1  Wayne        17   17
2    Leo        41   41
3  Frank        28   28
4  Andre        88   88
5   Tony        24   24
6    Sol        90   90

In [10]:
# geo, sci, sci2

geo.join([sci, sci2], how='inner')

      geo  sci  sci2
name
Tony   24   71    24
Sol    90   47    90

## concat

In [64]:
sci

       sci
name
Wayne   41
Frank   51
Pat     87
Tony    71
Lee     87
Sol     47

In [65]:
geo

       geo
name
Rocky   55
Wayne   17
Leo     41
Frank   28
Andre   88
Tony    24
Sol     90

In [73]:
x = pd.concat([sci, geo], sort=False, axis=0, keys=['a', 'b'])
x

          sci   geo
  name
a Wayne  41.0   NaN
  Frank  51.0   NaN
  Pat    87.0   NaN
  Tony   71.0   NaN
  Lee    87.0   NaN
  Sol    47.0   NaN
b Rocky   NaN  55.0
  Wayne   NaN  17.0
  Leo     NaN  41.0
  Frank   NaN  28.0
  Andre   NaN  88.0
  Tony    NaN  24.0
  Sol     NaN  90.0

In [74]:
x.loc['a']

        sci  geo
name
Wayne  41.0  NaN
Frank  51.0  NaN
Pat    87.0  NaN
Tony   71.0  NaN
Lee    87.0  NaN
Sol    47.0  NaN

In [75]:
pd.concat([sci, geo], axis=1, sort=False, join='outer', keys=['a', 'b'])

          a     b
        sci   geo
Wayne  41.0  17.0
Frank  51.0  28.0
Pat    87.0   NaN
Tony   71.0  24.0
Lee    87.0   NaN
Sol    47.0  90.0
Rocky   NaN  55.0
Leo     NaN  41.0
Andre   NaN  88.0

## append

In [77]:
sci.append(geo, sort=False)

        sci   geo
name
Wayne  41.0   NaN
Frank  51.0   NaN
Pat    87.0   NaN
Tony   71.0   NaN
Lee    87.0   NaN
Sol    47.0   NaN
Rocky   NaN  55.0
Wayne   NaN  17.0
Leo     NaN  41.0
Frank   NaN  28.0
Andre   NaN  88.0
Tony    NaN  24.0
Sol     NaN  90.0

## Real world example:

There are two datasets in the 'data' folder:
1. world happiness report for the year 2019, and
2. covid-19 report as of 27th April, 2020

Let us check if there is any sort of correlation between 'happy' countries and number of covid-19 cases in that country using 'merge'

In [11]:
h = pd.read_csv('data/world-happiness-report-2019.csv')
h

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0
5,Switzerland,6,11,44.0,21.0,13.0,11.0,7.0,16.0,8.0,4.0
6,Sweden,7,18,34.0,8.0,25.0,10.0,6.0,17.0,13.0,17.0
7,New Zealand,8,15,22.0,12.0,5.0,8.0,5.0,8.0,26.0,14.0
8,Canada,9,23,18.0,49.0,20.0,9.0,11.0,14.0,19.0,8.0
9,Austria,10,10,64.0,24.0,31.0,26.0,19.0,25.0,16.0,15.0
10,Australia,11,26,47.0,37.0,7.0,17.0,13.0,6.0,18.0,10.0
11,Costa Rica,12,62,4.0,87.0,42.0,16.0,58.0,75.0,67.0,28.0
12,Israel,13,14,104.0,69.0,38.0,93.0,74.0,24.0,31.0,11.0
13,Luxembourg,14,3,62.0,19.0,27.0,28.0,9.0,30.0,2.0,16.0
14,United Kingdom,15,16,52.0,42.0,9.0,63.0,15.0,4.0,23.0,24.0
15,Ireland,16,34,33.0,32.0,6.0,33.0,10.0,9.0,6.0,20.0
16,Germany,17,17,65.0,30.0,39.0,44.0,17.0,19.0,17.0,25.0
17,Belgium,18,7,57.0,53.0,22.0,53.0,20.0,44.0,21.0,26.0
18,United States,19,49,35.0,70.0,37.0,62.0,42.0,12.0,10.0,39.0
19,Czech Republic,20,20,74.0,22.0,24.0,58.0,121.0,117.0,32.0,31.0
20,United Arab Emirates,21,65,43.0,56.0,72.0,4.0,NaN,15.0,4.0,60.0
21,Malta,22,42,83.0,103.0,16.0,12.0,32.0,5.0,28.0,19.0
22,Mexico,23,76,6.0,40.0,67.0,71.0,87.0,120.0,57.0,46.0
23,France,24,19,56.0,66.0,32.0,69.0,21.0,68.0,25.0,5.0
24,Taiwan,25,37,17.0,1.0,48.0,102.0,56.0,56.0,NaN,NaN
25,Chile,26,61,15.0,78.0,58.0,98.0,99.0,45.0,49.0,30.0
26,Guatemala,27,136,8.0,85.0,78.0,25.0,82.0,78.0,99.0,85.0
27,Saudi Arabia,28,93,49.0,82.0,62.0,68.0,NaN,82.0,11.0,74.0
28,Qatar,29,86,NaN,NaN,NaN,NaN,NaN,NaN,1.0,43.0
29,Spain,30,21,107.0,107.0,26.0,95.0,78.0,50.0,30.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
126,Congo (Kinshasa),127,78,125.0,95.0,107.0,125.0,106.0,127.0,149.0,140.0
127,Mali,128,96,48.0,122.0,112.0,110.0,107.0,138.0,129.0,142.0
128,Sierra Leone,129,153,139.0,149.0,135.0,116.0,112.0,79.0,145.0,146.0
129,Sri Lanka,130,91,32.0,81.0,80.0,55.0,111.0,35.0,79.0,54.0
130,Myanmar,131,70,45.0,86.0,96.0,29.0,24.0,1.0,106.0,110.0
131,Chad,132,139,136.0,151.0,141.0,142.0,80.0,106.0,133.0,148.0
132,Ukraine,133,69,131.0,44.0,56.0,141.0,143.0,66.0,94.0,87.0
133,Ethiopia,134,38,100.0,74.0,119.0,106.0,53.0,99.0,135.0,115.0
134,Swaziland,135,104,26.0,57.0,103.0,113.0,41.0,145.0,96.0,NaN
135,Uganda,136,148,91.0,139.0,114.0,99.0,95.0,74.0,136.0,127.0
136,Egypt,137,66,146.0,124.0,118.0,129.0,89.0,132.0,85.0,101.0
137,Zambia,138,145,84.0,128.0,115.0,73.0,69.0,53.0,115.0,131.0
138,Togo,139,103,123.0,147.0,149.0,120.0,72.0,131.0,142.0,132.0
139,India,140,41,93.0,115.0,142.0,41.0,73.0,65.0,103.0,105.0
140,Liberia,141,156,103.0,146.0,127.0,94.0,126.0,110.0,150.0,126.0
141,Comoros,142,143,67.0,114.0,143.0,148.0,81.0,62.0,143.0,117.0
142,Madagascar,143,77,46.0,96.0,128.0,146.0,116.0,136.0,144.0,111.0
143,Lesotho,144,150,72.0,64.0,98.0,97.0,59.0,151.0,124.0,149.0
144,Burundi,145,138,98.0,126.0,152.0,135.0,23.0,149.0,151.0,135.0
145,Zimbabwe,146,123,63.0,34.0,110.0,96.0,63.0,141.0,131.0,129.0
146,Haiti,147,111,142.0,119.0,146.0,152.0,48.0,20.0,138.0,125.0
147,Botswana,148,125,87.0,65.0,105.0,60.0,54.0,150.0,66.0,113.0
148,Syria,149,137,155.0,155.0,154.0,153.0,38.0,69.0,NaN,128.0
149,Malawi,150,132,129.0,110.0,150.0,65.0,64.0,109.0,147.0,119.0
150,Yemen,151,85,153.0,75.0,100.0,147.0,83.0,155.0,141.0,124.0
151,Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0
152,Tanzania,153,122,78.0,50.0,131.0,78.0,34.0,49.0,125.0,118.0
153,Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0
154,Central African Republic,155,117,132.0,153.0,155.0,133.0,122.0,113.0,152.0,150.0
155,South Sudan,156,140,127.0,152.0,148.0,154.0,61.0,85.0,140.0,143.0

In [12]:
c = pd.read_csv('data/cumulative-27apr-covid.csv')
c

                    Country  Confirmed  Recovered  Deaths
0               Afghanistan       1703        220      57
1                   Albania        736        422      28
2                   Algeria       3517       1558     432
3                   Andorra        743        385      40
4                    Angola         27          6       2
5       Antigua and Barbuda         24         11       3
6                 Argentina       4003       1140     197
7                   Armenia       1808        848      29
8                 Australia       6721       5588      83
9                   Austria      15274      12362     549
10               Azerbaijan       1678       1162      22
11                  Bahamas         80         22      11
12                  Bahrain       2723       1218       8
13               Bangladesh       5913        131     152
14                 Barbados         80         39       6
15                  Belarus      11289       1740      75
16                  Belgium      46687      10878    7207
17                   Belize         18          6       2
18                    Benin         64         33       1
19                   Bhutan          7          4       0
20                  Bolivia       1014         98      53
21   Bosnia and Herzegovina       1565        659      60
22                 Botswana         22          0       1
23                   Brazil      67446      31142    4603
24                   Brunei        138        124       1
25                 Bulgaria       1363        206      58
26             Burkina Faso        635        469      42
27                    Burma        146         16       5
28                  Burundi         11          4       1
29               Cabo Verde        109          1       1
..                      ...        ...        ...     ...
155             South Sudan          6          0       0
156                   Spain     229422     120832   23521
157               Sri Lanka        588        126       7
158                   Sudan        275         21      22
159                Suriname         10          7       1
160                  Sweden      18926       1005    2274
161             Switzerland      29164      22200    1665
162                   Syria         43         19       3
163                 Taiwan*        429        290       6
164                Tanzania        299         48      10
165                Thailand       2931       2609      52
166             Timor-Leste         24          2       0
167                    Togo         98         62       6
168     Trinidad and Tobago        116         59       8
169                 Tunisia        967        279      39
170                  Turkey     112261      33791    2900
171                      US     988197     111424   56259
172                  Uganda         79         47       0
173                 Ukraine       9009        864     220
174    United Arab Emirates      10839       2090      82
175          United Kingdom     158348        807   21157
176                 Uruguay        620        386      15
177              Uzbekistan       1904        892       8
178               Venezuela        329        142      10
179                 Vietnam        270        225       0
180      West Bank and Gaza        342         83       2
181          Western Sahara          6          5       0
182                   Yemen          1          1       0
183                  Zambia         88         42       3
184                Zimbabwe         32          5       4

[185 rows x 4 columns]

In [80]:
pd.merge(left=h, right=c, left_on='Country (region)', right_on='Country', how='inner')

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Country,Confirmed,Recovered,Deaths
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Finland,4695,2500,193
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Denmark,8896,6148,427
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Norway,7599,32,205
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Iceland,1792,1624,10
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Netherlands,38440,117,4534
5,Switzerland,6,11,44.0,21.0,13.0,11.0,7.0,16.0,8.0,4.0,Switzerland,29164,22200,1665
6,Sweden,7,18,34.0,8.0,25.0,10.0,6.0,17.0,13.0,17.0,Sweden,18926,1005,2274
7,New Zealand,8,15,22.0,12.0,5.0,8.0,5.0,8.0,26.0,14.0,New Zealand,1472,1214,19
8,Canada,9,23,18.0,49.0,20.0,9.0,11.0,14.0,19.0,8.0,Canada,49616,18268,2841
9,Austria,10,10,64.0,24.0,31.0,26.0,19.0,25.0,16.0,15.0,Austria,15274,12362,549
10,Australia,11,26,47.0,37.0,7.0,17.0,13.0,6.0,18.0,10.0,Australia,6721,5588,83
11,Costa Rica,12,62,4.0,87.0,42.0,16.0,58.0,75.0,67.0,28.0,Costa Rica,697,287,6
12,Israel,13,14,104.0,69.0,38.0,93.0,74.0,24.0,31.0,11.0,Israel,15555,7200,204
13,Luxembourg,14,3,62.0,19.0,27.0,28.0,9.0,30.0,2.0,16.0,Luxembourg,3729,3123,88
14,United Kingdom,15,16,52.0,42.0,9.0,63.0,15.0,4.0,23.0,24.0,United Kingdom,158348,807,21157
15,Ireland,16,34,33.0,32.0,6.0,33.0,10.0,9.0,6.0,20.0,Ireland,19648,9233,1102
16,Germany,17,17,65.0,30.0,39.0,44.0,17.0,19.0,17.0,25.0,Germany,158758,114500,6126
17,Belgium,18,7,57.0,53.0,22.0,53.0,20.0,44.0,21.0,26.0,Belgium,46687,10878,7207
18,United Arab Emirates,21,65,43.0,56.0,72.0,4.0,NaN,15.0,4.0,60.0,United Arab Emirates,10839,2090,82
19,Malta,22,42,83.0,103.0,16.0,12.0,32.0,5.0,28.0,19.0,Malta,450,286,4
20,Mexico,23,76,6.0,40.0,67.0,71.0,87.0,120.0,57.0,46.0,Mexico,15529,9086,1434
21,France,24,19,56.0,66.0,32.0,69.0,21.0,68.0,25.0,5.0,France,165963,46293,23327
22,Chile,26,61,15.0,78.0,58.0,98.0,99.0,45.0,49.0,30.0,Chile,13813,7327,198
23,Guatemala,27,136,8.0,85.0,78.0,25.0,82.0,78.0,99.0,85.0,Guatemala,530,49,15
24,Saudi Arabia,28,93,49.0,82.0,62.0,68.0,NaN,82.0,11.0,74.0,Saudi Arabia,18811,2531,144
25,Qatar,29,86,NaN,NaN,NaN,NaN,NaN,NaN,1.0,43.0,Qatar,11244,1066,10
26,Spain,30,21,107.0,107.0,26.0,95.0,78.0,50.0,30.0,3.0,Spain,229422,120832,23521
27,Panama,31,121,7.0,48.0,41.0,32.0,104.0,88.0,51.0,33.0,Panama,6021,455,167
28,Brazil,32,116,69.0,105.0,43.0,84.0,71.0,108.0,70.0,72.0,Brazil,67446,31142,4603
29,Uruguay,33,88,10.0,76.0,35.0,30.0,33.0,80.0,52.0,35.0,Uruguay,620,386,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Mozambique,123,154,108.0,131.0,122.0,46.0,40.0,121.0,146.0,134.0,Mozambique,76,12,0
111,Tunisia,124,79,147.0,132.0,121.0,143.0,101.0,144.0,84.0,67.0,Tunisia,967,279,39
112,Bangladesh,125,52,145.0,68.0,126.0,27.0,36.0,107.0,119.0,90.0,Bangladesh,5913,131,152
113,Iraq,126,147,151.0,154.0,124.0,130.0,66.0,73.0,64.0,107.0,Iraq,1847,1286,88
114,Congo (Kinshasa),127,78,125.0,95.0,107.0,125.0,106.0,127.0,149.0,140.0,Congo (Kinshasa),459,50,28
115,Mali,128,96,48.0,122.0,112.0,110.0,107.0,138.0,129.0,142.0,Mali,408,113,23
116,Sierra Leone,129,153,139.0,149.0,135.0,116.0,112.0,79.0,145.0,146.0,Sierra Leone,93,10,4
117,Sri Lanka,130,91,32.0,81.0,80.0,55.0,111.0,35.0,79.0,54.0,Sri Lanka,588,126,7
118,Chad,132,139,136.0,151.0,141.0,142.0,80.0,106.0,133.0,148.0,Chad,46,15,0
119,Ukraine,133,69,131.0,44.0,56.0,141.0,143.0,66.0,94.0,87.0,Ukraine,9009,864,220
120,Ethiopia,134,38,100.0,74.0,119.0,106.0,53.0,99.0,135.0,115.0,Ethiopia,124,50,3
121,Uganda,136,148,91.0,139.0,114.0,99.0,95.0,74.0,136.0,127.0,Uganda,79,47,0
122,Egypt,137,66,146.0,124.0,118.0,129.0,89.0,132.0,85.0,101.0,Egypt,4782,1236,337
123,Zambia,138,145,84.0,128.0,115.0,73.0,69.0,53.0,115.0,131.0,Zambia,88,42,3
124,Togo,139,103,123.0,147.0,149.0,120.0,72.0,131.0,142.0,132.0,Togo,98,62,6
125,India,140,41,93.0,115.0,142.0,41.0,73.0,65.0,103.0,105.0,India,29451,7137,939
126,Liberia,141,156,103.0,146.0,127.0,94.0,126.0,110.0,150.0,126.0,Liberia,124,25,12
127,Madagascar,143,77,46.0,96.0,128.0,146.0,116.0,136.0,144.0,111.0,Madagascar,128,75,0
128,Burundi,145,138,98.0,126.0,152.0,135.0,23.0,149.0,151.0,135.0,Burundi,11,4,1
129,Zimbabwe,146,123,63.0,34.0,110.0,96.0,63.0,141.0,131.0,129.0,Zimbabwe,32,5,4
130,Haiti,147,111,142.0,119.0,146.0,152.0,48.0,20.0,138.0,125.0,Haiti,76,8,6
131,Botswana,148,125,87.0,65.0,105.0,60.0,54.0,150.0,66.0,113.0,Botswana,22,0,1
132,Syria,149,137,155.0,155.0,154.0,153.0,38.0,69.0,NaN,128.0,Syria,43,19,3
133,Malawi,150,132,129.0,110.0,150.0,65.0,64.0,109.0,147.0,119.0,Malawi,36,4,3
134,Yemen,151,85,153.0,75.0,100.0,147.0,83.0,155.0,141.0,124.0,Yemen,1,1,0
135,Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0,Rwanda,207,93,0
136,Tanzania,153,122,78.0,50.0,131.0,78.0,34.0,49.0,125.0,118.0,Tanzania,299,48,10
137,Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0,Afghanistan,1703,220,57
138,Central African Republic,155,117,132.0,153.0,155.0,133.0,122.0,113.0,152.0,150.0,Central African Republic,19,10,0
139,South Sudan,156,140,127.0,152.0,148.0,154.0,61.0,85.0,140.0,143.0,South Sudan,6,0,0

In [81]:
c_country = sorted(list(c['Country']))
h_country = sorted(list(h['Country (region)']))

matched_list = []
c_no_match = []
for i in c_country:
    if i in h_country:
        matched_list.append(i)
        h_country.remove(i)
    else:
        c_no_match.append(i)

In [82]:
c_no_match

['Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Bahamas',
 'Barbados',
 'Belize',
 'Bosnia and Herzegovina',
 'Brunei',
 'Burma',
 'Cabo Verde',
 "Cote d'Ivoire",
 'Cuba',
 'Czechia',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Equatorial Guinea',
 'Eritrea',
 'Eswatini',
 'Fiji',
 'Grenada',
 'Guinea-Bissau',
 'Guyana',
 'Holy See',
 'Korea, South',
 'Liechtenstein',
 'MS Zaandam',
 'Maldives',
 'Monaco',
 'North Macedonia',
 'Oman',
 'Papua New Guinea',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Seychelles',
 'Sudan',
 'Suriname',
 'Taiwan*',
 'Timor-Leste',
 'US',
 'West Bank and Gaza',
 'Western Sahara']

In [83]:
h_country

['Bosnia and Herzegovina ',
 'Comoros',
 'Czech Republic',
 'Hong Kong',
 'Ivory Coast',
 'Lesotho',
 'Macedonia',
 'Myanmar',
 'Northern Cyprus',
 'Palestinian Territories',
 'South Korea',
 'Swaziland',
 'Taiwan',
 'Tajikistan',
 'Turkmenistan',
 'United States']

In [86]:
c[c['Country'] == 'US']

    Country  Confirmed  Recovered  Deaths
171      US     988197     111424   56259

In [13]:
c.loc[171, 'Country'] = 'United States'

In [14]:
c[c['Country'] == 'United States']

           Country  Confirmed  Recovered  Deaths
171  United States     988197     111424   56259

In [92]:
# again, after changing US to United States
pd.merge(left=h, right=c, left_on='Country (region)', right_on='Country', how='inner')

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Country,Confirmed,Recovered,Deaths
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Finland,4695,2500,193
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Denmark,8896,6148,427
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Norway,7599,32,205
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Iceland,1792,1624,10
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Netherlands,38440,117,4534
5,Switzerland,6,11,44.0,21.0,13.0,11.0,7.0,16.0,8.0,4.0,Switzerland,29164,22200,1665
6,Sweden,7,18,34.0,8.0,25.0,10.0,6.0,17.0,13.0,17.0,Sweden,18926,1005,2274
7,New Zealand,8,15,22.0,12.0,5.0,8.0,5.0,8.0,26.0,14.0,New Zealand,1472,1214,19
8,Canada,9,23,18.0,49.0,20.0,9.0,11.0,14.0,19.0,8.0,Canada,49616,18268,2841
9,Austria,10,10,64.0,24.0,31.0,26.0,19.0,25.0,16.0,15.0,Austria,15274,12362,549
10,Australia,11,26,47.0,37.0,7.0,17.0,13.0,6.0,18.0,10.0,Australia,6721,5588,83
11,Costa Rica,12,62,4.0,87.0,42.0,16.0,58.0,75.0,67.0,28.0,Costa Rica,697,287,6
12,Israel,13,14,104.0,69.0,38.0,93.0,74.0,24.0,31.0,11.0,Israel,15555,7200,204
13,Luxembourg,14,3,62.0,19.0,27.0,28.0,9.0,30.0,2.0,16.0,Luxembourg,3729,3123,88
14,United Kingdom,15,16,52.0,42.0,9.0,63.0,15.0,4.0,23.0,24.0,United Kingdom,158348,807,21157
15,Ireland,16,34,33.0,32.0,6.0,33.0,10.0,9.0,6.0,20.0,Ireland,19648,9233,1102
16,Germany,17,17,65.0,30.0,39.0,44.0,17.0,19.0,17.0,25.0,Germany,158758,114500,6126
17,Belgium,18,7,57.0,53.0,22.0,53.0,20.0,44.0,21.0,26.0,Belgium,46687,10878,7207
18,United States,19,49,35.0,70.0,37.0,62.0,42.0,12.0,10.0,39.0,United States,988197,111424,56259
19,United Arab Emirates,21,65,43.0,56.0,72.0,4.0,NaN,15.0,4.0,60.0,United Arab Emirates,10839,2090,82
20,Malta,22,42,83.0,103.0,16.0,12.0,32.0,5.0,28.0,19.0,Malta,450,286,4
21,Mexico,23,76,6.0,40.0,67.0,71.0,87.0,120.0,57.0,46.0,Mexico,15529,9086,1434
22,France,24,19,56.0,66.0,32.0,69.0,21.0,68.0,25.0,5.0,France,165963,46293,23327
23,Chile,26,61,15.0,78.0,58.0,98.0,99.0,45.0,49.0,30.0,Chile,13813,7327,198
24,Guatemala,27,136,8.0,85.0,78.0,25.0,82.0,78.0,99.0,85.0,Guatemala,530,49,15
25,Saudi Arabia,28,93,49.0,82.0,62.0,68.0,NaN,82.0,11.0,74.0,Saudi Arabia,18811,2531,144
26,Qatar,29,86,NaN,NaN,NaN,NaN,NaN,NaN,1.0,43.0,Qatar,11244,1066,10
27,Spain,30,21,107.0,107.0,26.0,95.0,78.0,50.0,30.0,3.0,Spain,229422,120832,23521
28,Panama,31,121,7.0,48.0,41.0,32.0,104.0,88.0,51.0,33.0,Panama,6021,455,167
29,Brazil,32,116,69.0,105.0,43.0,84.0,71.0,108.0,70.0,72.0,Brazil,67446,31142,4603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,Mozambique,123,154,108.0,131.0,122.0,46.0,40.0,121.0,146.0,134.0,Mozambique,76,12,0
112,Tunisia,124,79,147.0,132.0,121.0,143.0,101.0,144.0,84.0,67.0,Tunisia,967,279,39
113,Bangladesh,125,52,145.0,68.0,126.0,27.0,36.0,107.0,119.0,90.0,Bangladesh,5913,131,152
114,Iraq,126,147,151.0,154.0,124.0,130.0,66.0,73.0,64.0,107.0,Iraq,1847,1286,88
115,Congo (Kinshasa),127,78,125.0,95.0,107.0,125.0,106.0,127.0,149.0,140.0,Congo (Kinshasa),459,50,28
116,Mali,128,96,48.0,122.0,112.0,110.0,107.0,138.0,129.0,142.0,Mali,408,113,23
117,Sierra Leone,129,153,139.0,149.0,135.0,116.0,112.0,79.0,145.0,146.0,Sierra Leone,93,10,4
118,Sri Lanka,130,91,32.0,81.0,80.0,55.0,111.0,35.0,79.0,54.0,Sri Lanka,588,126,7
119,Chad,132,139,136.0,151.0,141.0,142.0,80.0,106.0,133.0,148.0,Chad,46,15,0
120,Ukraine,133,69,131.0,44.0,56.0,141.0,143.0,66.0,94.0,87.0,Ukraine,9009,864,220
121,Ethiopia,134,38,100.0,74.0,119.0,106.0,53.0,99.0,135.0,115.0,Ethiopia,124,50,3
122,Uganda,136,148,91.0,139.0,114.0,99.0,95.0,74.0,136.0,127.0,Uganda,79,47,0
123,Egypt,137,66,146.0,124.0,118.0,129.0,89.0,132.0,85.0,101.0,Egypt,4782,1236,337
124,Zambia,138,145,84.0,128.0,115.0,73.0,69.0,53.0,115.0,131.0,Zambia,88,42,3
125,Togo,139,103,123.0,147.0,149.0,120.0,72.0,131.0,142.0,132.0,Togo,98,62,6
126,India,140,41,93.0,115.0,142.0,41.0,73.0,65.0,103.0,105.0,India,29451,7137,939
127,Liberia,141,156,103.0,146.0,127.0,94.0,126.0,110.0,150.0,126.0,Liberia,124,25,12
128,Madagascar,143,77,46.0,96.0,128.0,146.0,116.0,136.0,144.0,111.0,Madagascar,128,75,0
129,Burundi,145,138,98.0,126.0,152.0,135.0,23.0,149.0,151.0,135.0,Burundi,11,4,1
130,Zimbabwe,146,123,63.0,34.0,110.0,96.0,63.0,141.0,131.0,129.0,Zimbabwe,32,5,4
131,Haiti,147,111,142.0,119.0,146.0,152.0,48.0,20.0,138.0,125.0,Haiti,76,8,6
132,Botswana,148,125,87.0,65.0,105.0,60.0,54.0,150.0,66.0,113.0,Botswana,22,0,1
133,Syria,149,137,155.0,155.0,154.0,153.0,38.0,69.0,NaN,128.0,Syria,43,19,3
134,Malawi,150,132,129.0,110.0,150.0,65.0,64.0,109.0,147.0,119.0,Malawi,36,4,3
135,Yemen,151,85,153.0,75.0,100.0,147.0,83.0,155.0,141.0,124.0,Yemen,1,1,0
136,Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0,Rwanda,207,93,0
137,Tanzania,153,122,78.0,50.0,131.0,78.0,34.0,49.0,125.0,118.0,Tanzania,299,48,10
138,Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0,Afghanistan,1703,220,57
139,Central African Republic,155,117,132.0,153.0,155.0,133.0,122.0,113.0,152.0,150.0,Central African Republic,19,10,0
140,South Sudan,156,140,127.0,152.0,148.0,154.0,61.0,85.0,140.0,143.0,South Sudan,6,0,0

## TASKS:

1. Obtain the same result as above (with the merge and how='inner') with how='inner' using join.

In [15]:
# Here you'll see how merge and join work interchangeably

In [16]:
# method 1: Making both dataframe columns to be joined upon as the indexes:

c.set_index('Country', inplace=True)
h.set_index('Country (region)', inplace=True)

In [18]:
c.head()

             Confirmed  Recovered  Deaths
Country
Afghanistan       1703        220      57
Albania            736        422      28
Algeria           3517       1558     432
Andorra            743        385      40
Angola              27          6       2

In [19]:
h.head()

,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
Country (region),,,,,,,,,,
Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [20]:
# in the pd.merge operation, we had used happiness (h) dataframe as the left dataframe,
# and we'll continue in the same vein here too:

h.join(c, how='inner')

# you see? it is the same result as obtained using pd.merge. You'll notice before, using pd.merge,
# we had 15 columns and now in this it is only 13 columns. Can you figure out why?

# it's because, in this join, both the dataframes' country columns are indexes, and hence removed as
# normal columns. Whereas in merge, both the columns were regular columns.

,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Confirmed,Recovered,Deaths
Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,4695,2500,193
Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,8896,6148,427
Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,7599,32,205
Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,1792,1624,10
Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,38440,117,4534
Switzerland,6,11,44.0,21.0,13.0,11.0,7.0,16.0,8.0,4.0,29164,22200,1665
Sweden,7,18,34.0,8.0,25.0,10.0,6.0,17.0,13.0,17.0,18926,1005,2274
New Zealand,8,15,22.0,12.0,5.0,8.0,5.0,8.0,26.0,14.0,1472,1214,19
Canada,9,23,18.0,49.0,20.0,9.0,11.0,14.0,19.0,8.0,49616,18268,2841
Austria,10,10,64.0,24.0,31.0,26.0,19.0,25.0,16.0,15.0,15274,12362,549
Australia,11,26,47.0,37.0,7.0,17.0,13.0,6.0,18.0,10.0,6721,5588,83
Costa Rica,12,62,4.0,87.0,42.0,16.0,58.0,75.0,67.0,28.0,697,287,6
Israel,13,14,104.0,69.0,38.0,93.0,74.0,24.0,31.0,11.0,15555,7200,204
Luxembourg,14,3,62.0,19.0,27.0,28.0,9.0,30.0,2.0,16.0,3729,3123,88
United Kingdom,15,16,52.0,42.0,9.0,63.0,15.0,4.0,23.0,24.0,158348,807,21157
Ireland,16,34,33.0,32.0,6.0,33.0,10.0,9.0,6.0,20.0,19648,9233,1102
Germany,17,17,65.0,30.0,39.0,44.0,17.0,19.0,17.0,25.0,158758,114500,6126
Belgium,18,7,57.0,53.0,22.0,53.0,20.0,44.0,21.0,26.0,46687,10878,7207
United States,19,49,35.0,70.0,37.0,62.0,42.0,12.0,10.0,39.0,988197,111424,56259
United Arab Emirates,21,65,43.0,56.0,72.0,4.0,NaN,15.0,4.0,60.0,10839,2090,82
Malta,22,42,83.0,103.0,16.0,12.0,32.0,5.0,28.0,19.0,450,286,4
Mexico,23,76,6.0,40.0,67.0,71.0,87.0,120.0,57.0,46.0,15529,9086,1434
France,24,19,56.0,66.0,32.0,69.0,21.0,68.0,25.0,5.0,165963,46293,23327
Chile,26,61,15.0,78.0,58.0,98.0,99.0,45.0,49.0,30.0,13813,7327,198
Guatemala,27,136,8.0,85.0,78.0,25.0,82.0,78.0,99.0,85.0,530,49,15
Saudi Arabia,28,93,49.0,82.0,62.0,68.0,NaN,82.0,11.0,74.0,18811,2531,144
Qatar,29,86,NaN,NaN,NaN,NaN,NaN,NaN,1.0,43.0,11244,1066,10
Spain,30,21,107.0,107.0,26.0,95.0,78.0,50.0,30.0,3.0,229422,120832,23521
Panama,31,121,7.0,48.0,41.0,32.0,104.0,88.0,51.0,33.0,6021,455,167
Brazil,32,116,69.0,105.0,43.0,84.0,71.0,108.0,70.0,72.0,67446,31142,4603
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mozambique,123,154,108.0,131.0,122.0,46.0,40.0,121.0,146.0,134.0,76,12,0
Tunisia,124,79,147.0,132.0,121.0,143.0,101.0,144.0,84.0,67.0,967,279,39
Bangladesh,125,52,145.0,68.0,126.0,27.0,36.0,107.0,119.0,90.0,5913,131,152
Iraq,126,147,151.0,154.0,124.0,130.0,66.0,73.0,64.0,107.0,1847,1286,88
Congo (Kinshasa),127,78,125.0,95.0,107.0,125.0,106.0,127.0,149.0,140.0,459,50,28
Mali,128,96,48.0,122.0,112.0,110.0,107.0,138.0,129.0,142.0,408,113,23
Sierra Leone,129,153,139.0,149.0,135.0,116.0,112.0,79.0,145.0,146.0,93,10,4
Sri Lanka,130,91,32.0,81.0,80.0,55.0,111.0,35.0,79.0,54.0,588,126,7
Chad,132,139,136.0,151.0,141.0,142.0,80.0,106.0,133.0,148.0,46,15,0
Ukraine,133,69,131.0,44.0,56.0,141.0,143.0,66.0,94.0,87.0,9009,864,220
Ethiopia,134,38,100.0,74.0,119.0,106.0,53.0,99.0,135.0,115.0,124,50,3
Uganda,136,148,91.0,139.0,114.0,99.0,95.0,74.0,136.0,127.0,79,47,0
Egypt,137,66,146.0,124.0,118.0,129.0,89.0,132.0,85.0,101.0,4782,1236,337
Zambia,138,145,84.0,128.0,115.0,73.0,69.0,53.0,115.0,131.0,88,42,3
Togo,139,103,123.0,147.0,149.0,120.0,72.0,131.0,142.0,132.0,98,62,6
India,140,41,93.0,115.0,142.0,41.0,73.0,65.0,103.0,105.0,29451,7137,939
Liberia,141,156,103.0,146.0,127.0,94.0,126.0,110.0,150.0,126.0,124,25,12
Madagascar,143,77,46.0,96.0,128.0,146.0,116.0,136.0,144.0,111.0,128,75,0
Burundi,145,138,98.0,126.0,152.0,135.0,23.0,149.0,151.0,135.0,11,4,1
Zimbabwe,146,123,63.0,34.0,110.0,96.0,63.0,141.0,131.0,129.0,32,5,4
Haiti,147,111,142.0,119.0,146.0,152.0,48.0,20.0,138.0,125.0,76,8,6
Botswana,148,125,87.0,65.0,105.0,60.0,54.0,150.0,66.0,113.0,22,0,1
Syria,149,137,155.0,155.0,154.0,153.0,38.0,69.0,NaN,128.0,43,19,3
Malawi,150,132,129.0,110.0,150.0,65.0,64.0,109.0,147.0,119.0,36,4,3
Yemen,151,85,153.0,75.0,100.0,147.0,83.0,155.0,141.0,124.0,1,1,0
Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0,207,93,0
Tanzania,153,122,78.0,50.0,131.0,78.0,34.0,49.0,125.0,118.0,299,48,10
Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0,1703,220,57
Central African Republic,155,117,132.0,153.0,155.0,133.0,122.0,113.0,152.0,150.0,19,10,0
South Sudan,156,140,127.0,152.0,148.0,154.0,61.0,85.0,140.0,143.0,6,0,0

In [22]:
# method 2:

# having only one dataframe's column to be merged upon as the index.

# we'll make happiness (h) dataframe as normal again with country as a regular column:

h.reset_index(inplace=True)

In [23]:
h.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [25]:
# now we know that the df that has the joining column as its index, should be placed inside the ():

h.join(c, on='Country (region)', how='inner')

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Confirmed,Recovered,Deaths
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,4695,2500,193
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,8896,6148,427
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,7599,32,205
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,1792,1624,10
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,38440,117,4534
5,Switzerland,6,11,44.0,21.0,13.0,11.0,7.0,16.0,8.0,4.0,29164,22200,1665
6,Sweden,7,18,34.0,8.0,25.0,10.0,6.0,17.0,13.0,17.0,18926,1005,2274
7,New Zealand,8,15,22.0,12.0,5.0,8.0,5.0,8.0,26.0,14.0,1472,1214,19
8,Canada,9,23,18.0,49.0,20.0,9.0,11.0,14.0,19.0,8.0,49616,18268,2841
9,Austria,10,10,64.0,24.0,31.0,26.0,19.0,25.0,16.0,15.0,15274,12362,549
10,Australia,11,26,47.0,37.0,7.0,17.0,13.0,6.0,18.0,10.0,6721,5588,83
11,Costa Rica,12,62,4.0,87.0,42.0,16.0,58.0,75.0,67.0,28.0,697,287,6
12,Israel,13,14,104.0,69.0,38.0,93.0,74.0,24.0,31.0,11.0,15555,7200,204
13,Luxembourg,14,3,62.0,19.0,27.0,28.0,9.0,30.0,2.0,16.0,3729,3123,88
14,United Kingdom,15,16,52.0,42.0,9.0,63.0,15.0,4.0,23.0,24.0,158348,807,21157
15,Ireland,16,34,33.0,32.0,6.0,33.0,10.0,9.0,6.0,20.0,19648,9233,1102
16,Germany,17,17,65.0,30.0,39.0,44.0,17.0,19.0,17.0,25.0,158758,114500,6126
17,Belgium,18,7,57.0,53.0,22.0,53.0,20.0,44.0,21.0,26.0,46687,10878,7207
18,United States,19,49,35.0,70.0,37.0,62.0,42.0,12.0,10.0,39.0,988197,111424,56259
20,United Arab Emirates,21,65,43.0,56.0,72.0,4.0,NaN,15.0,4.0,60.0,10839,2090,82
21,Malta,22,42,83.0,103.0,16.0,12.0,32.0,5.0,28.0,19.0,450,286,4
22,Mexico,23,76,6.0,40.0,67.0,71.0,87.0,120.0,57.0,46.0,15529,9086,1434
23,France,24,19,56.0,66.0,32.0,69.0,21.0,68.0,25.0,5.0,165963,46293,23327
25,Chile,26,61,15.0,78.0,58.0,98.0,99.0,45.0,49.0,30.0,13813,7327,198
26,Guatemala,27,136,8.0,85.0,78.0,25.0,82.0,78.0,99.0,85.0,530,49,15
27,Saudi Arabia,28,93,49.0,82.0,62.0,68.0,NaN,82.0,11.0,74.0,18811,2531,144
28,Qatar,29,86,NaN,NaN,NaN,NaN,NaN,NaN,1.0,43.0,11244,1066,10
29,Spain,30,21,107.0,107.0,26.0,95.0,78.0,50.0,30.0,3.0,229422,120832,23521
30,Panama,31,121,7.0,48.0,41.0,32.0,104.0,88.0,51.0,33.0,6021,455,167
31,Brazil,32,116,69.0,105.0,43.0,84.0,71.0,108.0,70.0,72.0,67446,31142,4603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Mozambique,123,154,108.0,131.0,122.0,46.0,40.0,121.0,146.0,134.0,76,12,0
123,Tunisia,124,79,147.0,132.0,121.0,143.0,101.0,144.0,84.0,67.0,967,279,39
124,Bangladesh,125,52,145.0,68.0,126.0,27.0,36.0,107.0,119.0,90.0,5913,131,152
125,Iraq,126,147,151.0,154.0,124.0,130.0,66.0,73.0,64.0,107.0,1847,1286,88
126,Congo (Kinshasa),127,78,125.0,95.0,107.0,125.0,106.0,127.0,149.0,140.0,459,50,28
127,Mali,128,96,48.0,122.0,112.0,110.0,107.0,138.0,129.0,142.0,408,113,23
128,Sierra Leone,129,153,139.0,149.0,135.0,116.0,112.0,79.0,145.0,146.0,93,10,4
129,Sri Lanka,130,91,32.0,81.0,80.0,55.0,111.0,35.0,79.0,54.0,588,126,7
131,Chad,132,139,136.0,151.0,141.0,142.0,80.0,106.0,133.0,148.0,46,15,0
132,Ukraine,133,69,131.0,44.0,56.0,141.0,143.0,66.0,94.0,87.0,9009,864,220
133,Ethiopia,134,38,100.0,74.0,119.0,106.0,53.0,99.0,135.0,115.0,124,50,3
135,Uganda,136,148,91.0,139.0,114.0,99.0,95.0,74.0,136.0,127.0,79,47,0
136,Egypt,137,66,146.0,124.0,118.0,129.0,89.0,132.0,85.0,101.0,4782,1236,337
137,Zambia,138,145,84.0,128.0,115.0,73.0,69.0,53.0,115.0,131.0,88,42,3
138,Togo,139,103,123.0,147.0,149.0,120.0,72.0,131.0,142.0,132.0,98,62,6
139,India,140,41,93.0,115.0,142.0,41.0,73.0,65.0,103.0,105.0,29451,7137,939
140,Liberia,141,156,103.0,146.0,127.0,94.0,126.0,110.0,150.0,126.0,124,25,12
142,Madagascar,143,77,46.0,96.0,128.0,146.0,116.0,136.0,144.0,111.0,128,75,0
144,Burundi,145,138,98.0,126.0,152.0,135.0,23.0,149.0,151.0,135.0,11,4,1
145,Zimbabwe,146,123,63.0,34.0,110.0,96.0,63.0,141.0,131.0,129.0,32,5,4
146,Haiti,147,111,142.0,119.0,146.0,152.0,48.0,20.0,138.0,125.0,76,8,6
147,Botswana,148,125,87.0,65.0,105.0,60.0,54.0,150.0,66.0,113.0,22,0,1
148,Syria,149,137,155.0,155.0,154.0,153.0,38.0,69.0,NaN,128.0,43,19,3
149,Malawi,150,132,129.0,110.0,150.0,65.0,64.0,109.0,147.0,119.0,36,4,3
150,Yemen,151,85,153.0,75.0,100.0,147.0,83.0,155.0,141.0,124.0,1,1,0
151,Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0,207,93,0
152,Tanzania,153,122,78.0,50.0,131.0,78.0,34.0,49.0,125.0,118.0,299,48,10
153,Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0,1703,220,57
154,Central African Republic,155,117,132.0,153.0,155.0,133.0,122.0,113.0,152.0,150.0,19,10,0
155,South Sudan,156,140,127.0,152.0,148.0,154.0,61.0,85.0,140.0,143.0,6,0,0

#### Bonus tip:

You know that if you have both columns to be joined upon are indexes of their respective dataframes, then join is the way to go.

But what if you still want to use pd.merge?

pd.merge provides this functionality through left_index and right_index parameters

If we set both these parameters to True, pandas will automatically look for the index columns of both these dataframes and infer results, which is basically what join does in the first place, right!

The covid dataframe already has its joining column as the index. But the happiness dataframe does not. Hence we'll do that now:

In [28]:
h.set_index('Country (region)', inplace=True)

In [26]:
pd.merge(left=h.set_index('Country (region)'), right=c, left_index=True, right_index=True)

,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy,Confirmed,Recovered,Deaths
Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,4695,2500,193
Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,8896,6148,427
Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,7599,32,205
Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,1792,1624,10
Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,38440,117,4534
Switzerland,6,11,44.0,21.0,13.0,11.0,7.0,16.0,8.0,4.0,29164,22200,1665
Sweden,7,18,34.0,8.0,25.0,10.0,6.0,17.0,13.0,17.0,18926,1005,2274
New Zealand,8,15,22.0,12.0,5.0,8.0,5.0,8.0,26.0,14.0,1472,1214,19
Canada,9,23,18.0,49.0,20.0,9.0,11.0,14.0,19.0,8.0,49616,18268,2841
Austria,10,10,64.0,24.0,31.0,26.0,19.0,25.0,16.0,15.0,15274,12362,549
Australia,11,26,47.0,37.0,7.0,17.0,13.0,6.0,18.0,10.0,6721,5588,83
Costa Rica,12,62,4.0,87.0,42.0,16.0,58.0,75.0,67.0,28.0,697,287,6
Israel,13,14,104.0,69.0,38.0,93.0,74.0,24.0,31.0,11.0,15555,7200,204
Luxembourg,14,3,62.0,19.0,27.0,28.0,9.0,30.0,2.0,16.0,3729,3123,88
United Kingdom,15,16,52.0,42.0,9.0,63.0,15.0,4.0,23.0,24.0,158348,807,21157
Ireland,16,34,33.0,32.0,6.0,33.0,10.0,9.0,6.0,20.0,19648,9233,1102
Germany,17,17,65.0,30.0,39.0,44.0,17.0,19.0,17.0,25.0,158758,114500,6126
Belgium,18,7,57.0,53.0,22.0,53.0,20.0,44.0,21.0,26.0,46687,10878,7207
United States,19,49,35.0,70.0,37.0,62.0,42.0,12.0,10.0,39.0,988197,111424,56259
United Arab Emirates,21,65,43.0,56.0,72.0,4.0,NaN,15.0,4.0,60.0,10839,2090,82
Malta,22,42,83.0,103.0,16.0,12.0,32.0,5.0,28.0,19.0,450,286,4
Mexico,23,76,6.0,40.0,67.0,71.0,87.0,120.0,57.0,46.0,15529,9086,1434
France,24,19,56.0,66.0,32.0,69.0,21.0,68.0,25.0,5.0,165963,46293,23327
Chile,26,61,15.0,78.0,58.0,98.0,99.0,45.0,49.0,30.0,13813,7327,198
Guatemala,27,136,8.0,85.0,78.0,25.0,82.0,78.0,99.0,85.0,530,49,15
Saudi Arabia,28,93,49.0,82.0,62.0,68.0,NaN,82.0,11.0,74.0,18811,2531,144
Qatar,29,86,NaN,NaN,NaN,NaN,NaN,NaN,1.0,43.0,11244,1066,10
Spain,30,21,107.0,107.0,26.0,95.0,78.0,50.0,30.0,3.0,229422,120832,23521
Panama,31,121,7.0,48.0,41.0,32.0,104.0,88.0,51.0,33.0,6021,455,167
Brazil,32,116,69.0,105.0,43.0,84.0,71.0,108.0,70.0,72.0,67446,31142,4603
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mozambique,123,154,108.0,131.0,122.0,46.0,40.0,121.0,146.0,134.0,76,12,0
Tunisia,124,79,147.0,132.0,121.0,143.0,101.0,144.0,84.0,67.0,967,279,39
Bangladesh,125,52,145.0,68.0,126.0,27.0,36.0,107.0,119.0,90.0,5913,131,152
Iraq,126,147,151.0,154.0,124.0,130.0,66.0,73.0,64.0,107.0,1847,1286,88
Congo (Kinshasa),127,78,125.0,95.0,107.0,125.0,106.0,127.0,149.0,140.0,459,50,28
Mali,128,96,48.0,122.0,112.0,110.0,107.0,138.0,129.0,142.0,408,113,23
Sierra Leone,129,153,139.0,149.0,135.0,116.0,112.0,79.0,145.0,146.0,93,10,4
Sri Lanka,130,91,32.0,81.0,80.0,55.0,111.0,35.0,79.0,54.0,588,126,7
Chad,132,139,136.0,151.0,141.0,142.0,80.0,106.0,133.0,148.0,46,15,0
Ukraine,133,69,131.0,44.0,56.0,141.0,143.0,66.0,94.0,87.0,9009,864,220
Ethiopia,134,38,100.0,74.0,119.0,106.0,53.0,99.0,135.0,115.0,124,50,3
Uganda,136,148,91.0,139.0,114.0,99.0,95.0,74.0,136.0,127.0,79,47,0
Egypt,137,66,146.0,124.0,118.0,129.0,89.0,132.0,85.0,101.0,4782,1236,337
Zambia,138,145,84.0,128.0,115.0,73.0,69.0,53.0,115.0,131.0,88,42,3
Togo,139,103,123.0,147.0,149.0,120.0,72.0,131.0,142.0,132.0,98,62,6
India,140,41,93.0,115.0,142.0,41.0,73.0,65.0,103.0,105.0,29451,7137,939
Liberia,141,156,103.0,146.0,127.0,94.0,126.0,110.0,150.0,126.0,124,25,12
Madagascar,143,77,46.0,96.0,128.0,146.0,116.0,136.0,144.0,111.0,128,75,0
Burundi,145,138,98.0,126.0,152.0,135.0,23.0,149.0,151.0,135.0,11,4,1
Zimbabwe,146,123,63.0,34.0,110.0,96.0,63.0,141.0,131.0,129.0,32,5,4
Haiti,147,111,142.0,119.0,146.0,152.0,48.0,20.0,138.0,125.0,76,8,6
Botswana,148,125,87.0,65.0,105.0,60.0,54.0,150.0,66.0,113.0,22,0,1
Syria,149,137,155.0,155.0,154.0,153.0,38.0,69.0,NaN,128.0,43,19,3
Malawi,150,132,129.0,110.0,150.0,65.0,64.0,109.0,147.0,119.0,36,4,3
Yemen,151,85,153.0,75.0,100.0,147.0,83.0,155.0,141.0,124.0,1,1,0
Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0,207,93,0
Tanzania,153,122,78.0,50.0,131.0,78.0,34.0,49.0,125.0,118.0,299,48,10
Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0,1703,220,57
Central African Republic,155,117,132.0,153.0,155.0,133.0,122.0,113.0,152.0,150.0,19,10,0
South Sudan,156,140,127.0,152.0,148.0,154.0,61.0,85.0,140.0,143.0,6,0,0

2. There are two datasets, namely spotify-top30.csv and spotify-30-50.csv in the data folder, containing the list of songs most listened on spotify in a particular year. Glue these two datasets together to make a top 50 compilation

In [34]:
spotify1 = pd.read_csv('data/spotify-top30.csv')
spotify1.head()

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [33]:
spotify2 = pd.read_csv('data/spotify-30-50.csv')
spotify2.head()

,Track.Name,Artist.Name,Genre,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,Takeaway,The Chainsmokers,edm,29,-8,10,36,210,12,4,84
1,7 rings,Ariana Grande,dance pop,78,-11,9,33,179,59,33,89
2,0.958333333,Maluma,reggaeton,78,-5,9,68,176,22,28,89
3,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,80,-7,13,18,200,2,15,89
4,Never Really Over,Katy Perry,dance pop,77,-5,32,39,224,19,6,89

In [32]:
print("Spotify top 30 df shape:", spotify1.shape)
print("Spotify 31-50 df shape:", spotify2.shape)

Spotify top 30 df shape: (30, 13)
Spotify 31-50 df shape: (20, 11)

### spotify2 has two less columns than spotify1, and now we'll see how this alters our answers:

### since we want to make a compilation of top 50 songs, it'd make sense to glue these dataframes one below the other, right?

In [36]:
pd.concat([spotify1, spotify2], sort=False, join='outer') # outer is the default join type

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,Señorita,Shawn Mendes,canadian pop,117.0,55.0,76,-6,8,75,191,4,3,79
1,China,Anuel AA,reggaeton flow,105.0,81.0,79,-4,8,61,302,8,9,92
2,boyfriend (with Social House),Ariana Grande,dance pop,190.0,80.0,40,-4,16,70,186,12,46,85
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,93.0,65.0,64,-8,8,55,198,12,19,86
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150.0,65.0,58,-4,11,18,175,45,7,94
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102.0,68.0,80,-5,9,84,220,9,4,84
6,Ransom,Lil Tecca,trap music,180.0,64.0,75,-6,7,23,131,2,29,92
7,How Do You Sleep?,Sam Smith,pop,111.0,68.0,48,-5,8,35,202,15,9,90
8,Old Town Road - Remix,Lil Nas X,country rap,136.0,62.0,88,-6,11,64,157,5,10,87
9,bad guy,Billie Eilish,electropop,135.0,43.0,70,-11,10,56,194,33,38,95
10,Callaita,Bad Bunny,reggaeton,176.0,62.0,61,-5,24,24,251,60,31,93
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96.0,71.0,82,-4,15,38,185,28,7,86
12,Someone You Loved,Lewis Capaldi,pop,110.0,41.0,50,-6,11,45,182,75,3,88
13,Otro Trago - Remix,Sech,panamanian pop,176.0,79.0,73,-2,6,76,288,7,20,87
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101.0,50.0,83,-4,12,10,205,10,5,92
15,No Guidance (feat. Drake),Chris Brown,dance pop,93.0,45.0,70,-7,16,14,261,12,15,82
16,LA CANCIÓN,J Balvin,latin,176.0,65.0,75,-6,11,43,243,15,32,90
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90.0,48.0,76,-6,7,91,158,56,5,91
18,Lalala,Y2K,canadian hip hop,130.0,39.0,84,-8,14,50,161,18,8,88
19,Truth Hurts,Lizzo,escape room,158.0,62.0,72,-3,12,41,173,11,11,91
20,Piece Of Your Heart,MEDUZA,pop house,124.0,74.0,68,-7,7,63,153,4,3,91
21,Panini,Lil Nas X,country rap,154.0,59.0,70,-6,12,48,115,34,8,91
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92.0,79.0,81,-4,9,58,309,14,7,83
23,Soltera - Remix,Lunay,latin,92.0,78.0,80,-4,44,80,266,36,4,91
24,bad guy (with Justin Bieber),Billie Eilish,electropop,135.0,45.0,67,-11,12,68,195,25,30,89
25,If I Can't Have You,Shawn Mendes,canadian pop,124.0,82.0,69,-4,13,87,191,49,6,70
26,Dance Monkey,Tones and I,australian pop,98.0,59.0,82,-6,18,54,210,69,10,83
27,It's You,Ali Gatie,canadian hip hop,96.0,46.0,73,-7,19,40,213,37,3,89
28,Con Calma,Daddy Yankee,latin,94.0,86.0,74,-3,6,66,193,11,6,91
29,QUE PRETENDES,J Balvin,latin,93.0,79.0,64,-4,36,94,222,3,25,89
0,Takeaway,The Chainsmokers,edm,NaN,NaN,29,-8,10,36,210,12,4,84
1,7 rings,Ariana Grande,dance pop,NaN,NaN,78,-11,9,33,179,59,33,89
2,0.958333333,Maluma,reggaeton,NaN,NaN,78,-5,9,68,176,22,28,89
3,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,NaN,NaN,80,-7,13,18,200,2,15,89
4,Never Really Over,Katy Perry,dance pop,NaN,NaN,77,-5,32,39,224,19,6,89
5,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,NaN,NaN,66,-7,14,32,164,18,6,89
6,Otro Trago,Sech,panamanian pop,NaN,NaN,75,-5,11,62,226,14,34,91
7,Antisocial (with Travis Scott),Ed Sheeran,pop,NaN,NaN,72,-5,36,91,162,13,5,87
8,Sucker,Jonas Brothers,boy band,NaN,NaN,84,-5,11,95,181,4,6,80
9,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",Lauv,dance pop,NaN,NaN,81,-6,6,68,199,48,7,78
10,Higher Love,Kygo,edm,NaN,NaN,69,-7,10,40,228,2,3,88
11,You Need To Calm Down,Taylor Swift,dance pop,NaN,NaN,77,-6,7,73,171,1,5,90
12,Shallow,Lady Gaga,dance pop,NaN,NaN,57,-6,23,32,216,37,3,87
13,Talk,Khalid,pop,NaN,NaN,90,-9,6,35,198,5,13,84
14,Con Altura,ROSALÍA,r&b en espanol,NaN,NaN,88,-4,5,75,162,39,12,88
15,One Thing Right,Marshmello,brostep,NaN,NaN,66,-2,58,44,182,7,5,88
16,Te Robaré,Nicky Jam,latin,NaN,NaN,67,-4,8,80,202,24,6,88
17,Happier,Marshmello,brostep,NaN,NaN,69,-3,17,67,214,19,5,88
18,Call You Mine,The Chainsmokers,edm,NaN,NaN,59,-6,41,50,218,23,3,88
19,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,NaN,NaN,75,-6,7,61,206,21,12,82

You'd have noticed that 'Beats.Per.Minute' and 'Energy' columns are missing from the spotify2 dataset, hence those columns have been filled with NaNs for the 31-50 ranked songs

In [39]:
# if we do join='inner':

pd.concat([spotify1, spotify2], sort=False, join='inner')

# now  'Beats.Per.Minute' and 'Energy' columns have been removed, as we asked for an inner join!

,Track.Name,Artist.Name,Genre,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,Señorita,Shawn Mendes,canadian pop,76,-6,8,75,191,4,3,79
1,China,Anuel AA,reggaeton flow,79,-4,8,61,302,8,9,92
2,boyfriend (with Social House),Ariana Grande,dance pop,40,-4,16,70,186,12,46,85
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,64,-8,8,55,198,12,19,86
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,58,-4,11,18,175,45,7,94
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,80,-5,9,84,220,9,4,84
6,Ransom,Lil Tecca,trap music,75,-6,7,23,131,2,29,92
7,How Do You Sleep?,Sam Smith,pop,48,-5,8,35,202,15,9,90
8,Old Town Road - Remix,Lil Nas X,country rap,88,-6,11,64,157,5,10,87
9,bad guy,Billie Eilish,electropop,70,-11,10,56,194,33,38,95
10,Callaita,Bad Bunny,reggaeton,61,-5,24,24,251,60,31,93
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,82,-4,15,38,185,28,7,86
12,Someone You Loved,Lewis Capaldi,pop,50,-6,11,45,182,75,3,88
13,Otro Trago - Remix,Sech,panamanian pop,73,-2,6,76,288,7,20,87
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,83,-4,12,10,205,10,5,92
15,No Guidance (feat. Drake),Chris Brown,dance pop,70,-7,16,14,261,12,15,82
16,LA CANCIÓN,J Balvin,latin,75,-6,11,43,243,15,32,90
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,76,-6,7,91,158,56,5,91
18,Lalala,Y2K,canadian hip hop,84,-8,14,50,161,18,8,88
19,Truth Hurts,Lizzo,escape room,72,-3,12,41,173,11,11,91
20,Piece Of Your Heart,MEDUZA,pop house,68,-7,7,63,153,4,3,91
21,Panini,Lil Nas X,country rap,70,-6,12,48,115,34,8,91
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,81,-4,9,58,309,14,7,83
23,Soltera - Remix,Lunay,latin,80,-4,44,80,266,36,4,91
24,bad guy (with Justin Bieber),Billie Eilish,electropop,67,-11,12,68,195,25,30,89
25,If I Can't Have You,Shawn Mendes,canadian pop,69,-4,13,87,191,49,6,70
26,Dance Monkey,Tones and I,australian pop,82,-6,18,54,210,69,10,83
27,It's You,Ali Gatie,canadian hip hop,73,-7,19,40,213,37,3,89
28,Con Calma,Daddy Yankee,latin,74,-3,6,66,193,11,6,91
29,QUE PRETENDES,J Balvin,latin,64,-4,36,94,222,3,25,89
0,Takeaway,The Chainsmokers,edm,29,-8,10,36,210,12,4,84
1,7 rings,Ariana Grande,dance pop,78,-11,9,33,179,59,33,89
2,0.958333333,Maluma,reggaeton,78,-5,9,68,176,22,28,89
3,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,80,-7,13,18,200,2,15,89
4,Never Really Over,Katy Perry,dance pop,77,-5,32,39,224,19,6,89
5,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,66,-7,14,32,164,18,6,89
6,Otro Trago,Sech,panamanian pop,75,-5,11,62,226,14,34,91
7,Antisocial (with Travis Scott),Ed Sheeran,pop,72,-5,36,91,162,13,5,87
8,Sucker,Jonas Brothers,boy band,84,-5,11,95,181,4,6,80
9,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",Lauv,dance pop,81,-6,6,68,199,48,7,78
10,Higher Love,Kygo,edm,69,-7,10,40,228,2,3,88
11,You Need To Calm Down,Taylor Swift,dance pop,77,-6,7,73,171,1,5,90
12,Shallow,Lady Gaga,dance pop,57,-6,23,32,216,37,3,87
13,Talk,Khalid,pop,90,-9,6,35,198,5,13,84
14,Con Altura,ROSALÍA,r&b en espanol,88,-4,5,75,162,39,12,88
15,One Thing Right,Marshmello,brostep,66,-2,58,44,182,7,5,88
16,Te Robaré,Nicky Jam,latin,67,-4,8,80,202,24,6,88
17,Happier,Marshmello,brostep,69,-3,17,67,214,19,5,88
18,Call You Mine,The Chainsmokers,edm,59,-6,41,50,218,23,3,88
19,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,75,-6,7,61,206,21,12,82

### Thanks! and hope to see you soon! :)