In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Brand': ['Tata', 'Tesla', 'Audi', 'BMW'],
    'Location': ['India', 'US', 'Germany', 'Germany'],
    'Model':['Ace', '3', 'Q3', 'Z4'],
    'Sales': [100,75,84,92]
})
df

   Brand Location Model  Sales
0   Tata    India   Ace    100
1  Tesla       US     3     75
2   Audi  Germany    Q3     84
3    BMW  Germany    Z4     92

In [5]:
pd.pivot(data=df, index='Brand', columns='Location', values=['Sales']).fillna(0)

           Sales
Location Germany  India    US
Brand
Audi        84.0    0.0   0.0
BMW         92.0    0.0   0.0
Tata         0.0  100.0   0.0
Tesla        0.0    0.0  75.0

In [7]:
df.pivot(columns='Location', values=['Model', 'Sales'], index='Brand')

           Model              Sales
Location Germany India   US Germany  India    US
Brand
Audi          Q3   NaN  NaN    84.0    NaN   NaN
BMW           Z4   NaN  NaN    92.0    NaN   NaN
Tata         NaN   Ace  NaN     NaN  100.0   NaN
Tesla        NaN   NaN    3     NaN    NaN  75.0

In [8]:
tesla_s = pd.Series(['Tesla', 'US', 'S', 40], index=['Brand', 'Location', 'Model', 'Sales'])
tesla_s

Brand       Tesla
Location       US
Model           S
Sales          40
dtype: object

In [9]:
df = df.append(tesla_s, ignore_index=True)
df

   Brand Location Model  Sales
0   Tata    India   Ace    100
1  Tesla       US     3     75
2   Audi  Germany    Q3     84
3    BMW  Germany    Z4     92
4  Tesla       US     S     40

In [10]:
df.pivot(columns='Location', values=['Model', 'Sales'], index='Brand')

ValueError: Index contains duplicate entries, cannot reshape

In [14]:
df.pivot_table(index='Brand', columns='Location', values=['Model', 'Sales'],
               aggfunc={'Model':'count', 'Sales':'mean'})

           Model              Sales
Location Germany India   US Germany  India    US
Brand
Audi         1.0   NaN  NaN    84.0    NaN   NaN
BMW          1.0   NaN  NaN    92.0    NaN   NaN
Tata         NaN   1.0  NaN     NaN  100.0   NaN
Tesla        NaN   NaN  2.0     NaN    NaN  57.5

In [17]:
df.pivot_table(index=['Brand', 'Model'], columns='Location', values=['Sales'],
               aggfunc={'Sales':'mean'})

              Sales
Location    Germany  India    US
Brand Model
Audi  Q3       84.0    NaN   NaN
BMW   Z4       92.0    NaN   NaN
Tata  Ace       NaN  100.0   NaN
Tesla 3         NaN    NaN  75.0
      S         NaN    NaN  40.0

In [19]:
b = pd.read_csv('data/AirBnb_NYC_2019.csv', nrows=10000)
b

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
21,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,22486,Lisel,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,2,130,2019-07-01,1.09,6,347
22,8025,CBG Helps Haiti Room#2.5,22486,Lisel,Brooklyn,Park Slope,40.67989,-73.97798,Private room,80,1,39,2019-01-01,0.37,6,364
23,8110,CBG Helps Haiti Rm #2,22486,Lisel,Brooklyn,Park Slope,40.68001,-73.97865,Private room,110,2,71,2019-07-02,0.61,6,304
24,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,88,2019-06-19,0.73,2,233
25,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,60,1,19,2019-06-23,1.37,2,85
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
27,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,10,58,2017-08-13,0.49,1,75
28,9518,"SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM",31374,Shon,Manhattan,Inwood,40.86482,-73.92106,Private room,44,3,108,2019-06-15,1.11,3,311
29,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,180,14,29,2019-04-19,0.24,1,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,7665230,Sunny Master Bedroom in Sunset Park,15892935,Theresa,Brooklyn,Sunset Park,40.64153,-74.01562,Private room,50,1,2,2015-08-22,0.04,1,0
9971,7665764,US Open? Perfect Lg 1 BR apartment,40244009,Marvin,Queens,Sunnyside,40.73926,-73.92045,Entire home/apt,150,3,2,2015-09-13,0.04,1,0
9972,7666157,Noel Palace,40164647,Michele,Brooklyn,Midwood,40.62713,-73.95221,Private room,150,3,0,NaN,NaN,1,0
9973,7669319,"Sunny Studio, Amazing Neighborhood",2048347,Andrea,Brooklyn,Prospect Heights,40.67293,-73.96678,Entire home/apt,99,7,11,2019-06-15,0.23,1,216
9974,7670562,JFK 10 & LGA 15 MINUTES A/C PRIVATE BEDROOM,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69604,-73.82449,Private room,50,1,424,2018-11-25,8.86,5,0
9975,7673007,Bright 1 br apt in Greenpoint Brooklyn,3526617,Kyle,Brooklyn,Greenpoint,40.73604,-73.95415,Entire home/apt,250,2,4,2017-08-27,0.16,1,322
9976,7675781,JFK 10 & LGA 15 MINUTES AWAY A/C PRIVATE BED...,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69463,-73.82610,Private room,50,1,408,2018-11-24,8.56,5,0
9977,7675917,PRIVATE ROOM WITH PRIVATE BACKYARD!,40236486,Priscilla,Manhattan,Washington Heights,40.84030,-73.93833,Private room,50,1,6,2018-05-06,0.13,3,64
9978,7675994,Prime location and room for 1,844862,Cj,Manhattan,East Village,40.73107,-73.98213,Private room,100,2,14,2019-05-27,0.30,2,342
9979,7676933,Beautiful&New Bedrooms near everything you want!,33064599,Yukee,Manhattan,Upper West Side,40.80188,-73.96696,Private room,59,1,26,2019-04-19,0.68,6,326
9980,7677565,Private Room With Queen Bed in NYC,40316314,Chris,Manhattan,East Village,40.72338,-73.98239,Private room,80,1,1,2015-08-16,0.02,2,0
9981,7677595,"Bright, one-bedroom in Brooklyn",326952,Ingrid,Brooklyn,Prospect Heights,40.67309,-73.96354,Entire home/apt,95,3,4,2015-11-25,0.09,1,0
9982,7678187,Stylish Modern Comfort in Bed-Stuy,40319733,Sam,Brooklyn,Bedford-Stuyvesant,40.68548,-73.94988,Entire home/apt,110,2,3,2015-09-24,0.06,1,0
9983,7678453,Beautiful Sunny Bedroom in BedStuy,39197422,Caitlin,Brooklyn,Bedford-Stuyvesant,40.69025,-73.93030,Private room,60,5,1,2016-03-28,0.03,1,0
9984,7678743,FISHGRALA - Bedroom & Private Bathroom + Backyard,1477833,Blue & Elli,Brooklyn,Red Hook,40.67894,-74.01280,Private room,64,1,128,2019-06-19,2.71,1,76
9985,7679094,Bright and Airy Astoria Loft,3130040,Ana María,Queens,Ditmars Steinway,40.77679,-73.92120,Entire home/apt,175,2,7,2018-10-07,0.15,1,0
9986,7679236,Belle Harbor 4 BR 2 bath- 1 bl from Beach,40327248,Sarina,Queens,Neponsit,40.57215,-73.85822,Entire home/apt,350,2,5,2019-07-07,2.88,1,334
9987,7679691,Nice bedroom - Lower East Side,7065413,Johanna,Manhattan,Lower East Side,40.72014,-73.98498,Private room,80,1,2,2015-08-24,0.04,1,0
9988,7679697,Midtown West Modern Charming 1BD Apt near Time...,5513694,Paul,Manhattan,Hell's Kitchen,40.76377,-73.98786,Entire home/apt,200,2,49,2019-05-10,1.06,1,205
9989,7679943,Colorful 2 bedroom in great Brooklyn neighborhood,40332331,Joyce,Brooklyn,Windsor Terrace,40.65758,-73.97801,Entire home/apt,128,3,10,2019-06-25,0.21,2,3
9990,7680504,Ground Fl Apt. w/ backyard-Long term stay welc...,1550888,Miss Carolyn,Brooklyn,Bedford-Stuyvesant,40.68001,-73.94971,Entire home/apt,150,30,11,2019-05-31,0.29,3,332
9991,7680750,New 2BR+1BA For Up To 6 Ppl Only 15 Min To NYCity,347642,Jullien,Brooklyn,Bedford-Stuyvesant,40.68022,-73.92795,Entire home/apt,100,3,120,2019-06-18,2.63,3,220
9992,7685764,Sunny Modern Gem Overlooking UWS,268419,Kevin,Manhattan,Upper West Side,40.79387,-73.97136,Entire home/apt,300,5,0,NaN,NaN,1,0
9993,7686940,The Wielingen,40371157,Jimmy,Bronx,Longwood,40.82417,-73.90156,Private room,95,1,182,2019-01-01,3.82,2,0
9994,7687937,Cozy apt in heart of the e village,40076332,Steven,Manhattan,East Village,40.72644,-73.98403,Entire home/apt,175,5,0,NaN,NaN,1,0
9995,7688481,Perfect Location - Meticulously Kept Flat,12620454,Will,Brooklyn,Bushwick,40.70442,-73.92484,Entire home/apt,220,5,27,2017-01-01,0.57,1,0
9996,7688839,Garden Apt in Historic Brownstone!,2060383,Lisa,Brooklyn,Cobble Hill,40.68732,-73.99245,Entire home/apt,147,3,23,2019-06-16,0.51,1,2
9997,7689346,East Village Private Room & Terrace,39956905,Can,Manhattan,East Village,40.72811,-73.98453,Private room,95,2,1,2015-08-29,0.02,2,0
9998,7689495,Cosy apartment in Carroll Gardens,33064750,Suzan,Brooklyn,Carroll Gardens,40.68282,-73.99774,Entire home/apt,160,5,2,2017-08-08,0.06,1,0
9999,7689651,Cozy One BR in Queens near Airport,33068587,Falana,Queens,Jamaica,40.68547,-73.78924,Private room,99,3,0,NaN,NaN,1,365

In [22]:
b.pivot_table(index='neighbourhood_group', columns=['room_type', 'minimum_nights'], values='price', aggfunc='max')

room_type           Entire home/apt                                         \
minimum_nights                  1       2       3       4       5      6
neighbourhood_group
Bronx                         250.0   450.0   250.0   150.0   195.0   87.0
Brooklyn                     8000.0  1485.0  1050.0  4000.0   650.0  795.0
Manhattan                    5250.0  1550.0  2300.0   950.0  9999.0  799.0
Queens                        300.0   400.0   400.0   600.0   250.0  245.0
Staten Island                1000.0   250.0   299.0   625.0   150.0   75.0

room_type                                         ... Private room  \
minimum_nights          7      8      9      10   ...          365
neighbourhood_group                               ...
Bronx                 250.0    NaN    NaN    NaN  ...          NaN
Brooklyn             2000.0  285.0  295.0  330.0  ...          NaN
Manhattan            2000.0  259.0  250.0  600.0  ...        500.0
Queens                395.0  350.0  110.0  120.0  ...          NaN
Staten Island         700.0    NaN    NaN    NaN  ...          NaN

room_type           Shared room                                           \
minimum_nights              1      2      3     4      5      6      7
neighbourhood_group
Bronx                      45.0   32.0    NaN   NaN    NaN    NaN   55.0
Brooklyn                  200.0  195.0  110.0  45.0   44.0    NaN    NaN
Manhattan                1000.0  350.0  165.0   NaN    NaN  105.0  130.0
Queens                    300.0  150.0    NaN  65.0  108.0    NaN   60.0
Staten Island               NaN    NaN    NaN   NaN    NaN    NaN    NaN

room_type
minimum_nights        10     30
neighbourhood_group
Bronx                 NaN    NaN
Brooklyn              NaN    NaN
Manhattan            65.0  800.0
Queens                NaN    NaN
Staten Island         NaN    NaN

[5 rows x 124 columns]

In [23]:
a = pd.read_csv('data/auto-mpg.csv')
a

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97.0,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112.0,88,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112.0,85,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135.0,84,2525,16.0,82,1,dodge aries se
372,27.0,4,151.0,90,2735,18.0,82,1,pontiac phoenix
373,24.0,4,140.0,92,2865,16.4,82,1,ford fairmont futura
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl
375,36.0,4,105.0,74,1980,15.3,82,2,volkswagen rabbit l
376,37.0,4,91.0,68,2025,18.2,82,3,mazda glc custom l
377,31.0,4,91.0,68,1970,17.6,82,3,mazda glc custom
378,38.0,4,105.0,63,2125,14.7,82,1,plymouth horizon miser
379,36.0,4,98.0,70,2125,17.3,82,1,mercury lynx l
380,36.0,4,120.0,88,2160,14.5,82,3,nissan stanza xe
381,36.0,4,107.0,75,2205,14.5,82,3,honda accord
382,34.0,4,108.0,70,2245,16.9,82,3,toyota corolla
383,38.0,4,91.0,67,1965,15.0,82,3,honda civic
384,32.0,4,91.0,67,1965,15.7,82,3,honda civic (auto)
385,38.0,4,91.0,67,1995,16.2,82,3,datsun 310 gx
386,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92,2585,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l
390,32.0,4,144.0,96,2665,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84,2370,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90,2950,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [28]:
a.pivot_table(index='acceleration', columns='displacement', values='cylinders')

displacement,68.0,70.0,71.0,72.0,76.0,78.0,79.0,80.0,81.0,83.0,...,350.0,351.0,360.0,383.0,390.0,400.0,429.0,440.0,454.0,455.0
acceleration,,,,,,,,,,,,,,,,,,,,,
8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,8.0,NaN,NaN
9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN
9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.0,NaN,NaN,8.0,NaN,NaN,8.0
10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,8.0,NaN,NaN,NaN,8.0,8.0,NaN,8.0
11.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,8.0,NaN,8.0,8.0,NaN,NaN,NaN
11.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
12.5,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
12.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.5,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,NaN,8.0,NaN,NaN,8.0,NaN,NaN,NaN,NaN
14.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.6,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.0,NaN,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,4.0,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.4,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.5,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Tasks:

Try different combinations for index, columns and values by passing in lists, and try to understand how these are working.