Data source: <br>
https://www.kaggle.com/mariotormo/complete-pokemon-dataset-updated-090420

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/pokedex.csv', index_col=0)
df.head()

,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [3]:
df.columns

Index(['pokedex_number', 'name', 'german_name', 'japanese_name', 'generation',
       'status', 'species', 'type_number', 'type_1', 'type_2', 'height_m',
       'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'ability_hidden', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'growth_rate', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles', 'against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy'],
      dtype='object')

In [6]:
cols_to_keep = ['name', 'generation',
       'status', 'species', 'type_1', 'type_2', 'height_m',
       'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed',
       'percentage_male','against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy']

In [7]:
df = df[cols_to_keep]
df.shape

(1028, 37)

In [8]:
df.head()

,name,generation,status,species,type_1,type_2,height_m,weight_kg,abilities_number,ability_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,Bulbasaur,1,Normal,Seed Pokémon,Grass,Poison,0.7,6.9,2,Overgrow,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,Ivysaur,1,Normal,Seed Pokémon,Grass,Poison,1.0,13.0,2,Overgrow,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,Venusaur,1,Normal,Seed Pokémon,Grass,Poison,2.0,100.0,2,Overgrow,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,Mega Venusaur,1,Normal,Seed Pokémon,Grass,Poison,2.4,155.5,1,Thick Fat,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,Charmander,1,Normal,Lizard Pokémon,Fire,NaN,0.6,8.5,2,Blaze,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [9]:
pd.crosstab(index=df.status, columns=df.generation)

generation       1    2    3    4    5   6   7   8
status
Legendary        3    2    6    4    5   5   8   6
Mythical         1    1    5    6    6   5   5   0
Normal         185  101  147  105  151  75  69  82
Sub Legendary    3    3    7    6    9   0  17   0

In [11]:
pd.crosstab(index=df.status, columns=df.generation, margins=True, margins_name='Total')

generation       1    2    3    4    5   6   7   8  Total
status
Legendary        3    2    6    4    5   5   8   6     39
Mythical         1    1    5    6    6   5   5   0     29
Normal         185  101  147  105  151  75  69  82    915
Sub Legendary    3    3    7    6    9   0  17   0     45
Total          192  107  165  121  171  85  99  88   1028

In [13]:
6/1028

0.005836575875486381

In [12]:
pd.crosstab(index=df.status, columns=df.generation, normalize=True)

generation,1,2,3,4,5,6,7,8
status,,,,,,,,
Legendary,0.002918,0.001946,0.005837,0.003891,0.004864,0.004864,0.007782,0.005837
Mythical,0.000973,0.000973,0.004864,0.005837,0.005837,0.004864,0.004864,0.000000
Normal,0.179961,0.098249,0.142996,0.102140,0.146887,0.072957,0.067121,0.079767
Sub Legendary,0.002918,0.002918,0.006809,0.005837,0.008755,0.000000,0.016537,0.000000

In [17]:
3/39

0.07692307692307693

In [14]:
pd.crosstab(index=df.status, columns=df.generation, normalize='index')

generation,1,2,3,4,5,6,7,8
status,,,,,,,,
Legendary,0.076923,0.051282,0.153846,0.102564,0.128205,0.128205,0.205128,0.153846
Mythical,0.034483,0.034483,0.172414,0.206897,0.206897,0.172414,0.172414,0.000000
Normal,0.202186,0.110383,0.160656,0.114754,0.165027,0.081967,0.075410,0.089617
Sub Legendary,0.066667,0.066667,0.155556,0.133333,0.200000,0.000000,0.377778,0.000000

In [19]:
185/192

0.9635416666666666

In [18]:
pd.crosstab(index=df.status, columns=df.generation, normalize='columns')

generation,1,2,3,4,5,6,7,8
status,,,,,,,,
Legendary,0.015625,0.018692,0.036364,0.033058,0.029240,0.058824,0.080808,0.068182
Mythical,0.005208,0.009346,0.030303,0.049587,0.035088,0.058824,0.050505,0.000000
Normal,0.963542,0.943925,0.890909,0.867769,0.883041,0.882353,0.696970,0.931818
Sub Legendary,0.015625,0.028037,0.042424,0.049587,0.052632,0.000000,0.171717,0.000000

In [23]:
pd.crosstab(index=df.status, columns=df.generation, values=df.weight_kg, aggfunc='max')

generation         1      2      3      4      5      6      7      8
status
Legendary      127.0  216.0  999.7  750.0  345.0  610.0  999.9  950.0
Mythical         4.0    5.0   60.8  320.0   82.5  490.0  800.0    NaN
Normal         460.0  740.0  942.9  340.0  330.0  505.0  920.0  650.0
Sub Legendary   60.0  198.0  230.0  430.0  260.0    NaN  999.9    NaN

In [25]:
pd.crosstab(index=df.status, columns=df.generation, rownames=['which_kind?'], colnames=['gen'])

gen              1    2    3    4    5   6   7   8
which_kind?
Legendary        3    2    6    4    5   5   8   6
Mythical         1    1    5    6    6   5   5   0
Normal         185  101  147  105  151  75  69  82
Sub Legendary    3    3    7    6    9   0  17   0

In [30]:
pd.crosstab(index=df.generation, columns=df.status, values=df.percentage_male, aggfunc='mean',
            dropna=False).fillna('')

status     Legendary Mythical   Normal Sub Legendary
generation
1                              55.6287
2                               53.699
3                              54.3199            50
4                              56.7105            25
5                              55.2679           100
6                              55.0676
7                              50.7576
8

In [33]:
pd.crosstab(index=[df.generation, df.status], columns=[df.species], values=df.total_points,
            aggfunc='median').fillna(0)

species                   Abundance Pokémon  Acorn Pokémon  Alloy Pokémon  \
generation status
1          Legendary                    0.0            0.0            0.0
           Mythical                     0.0            0.0            0.0
           Normal                       0.0            0.0            0.0
           Sub Legendary                0.0            0.0            0.0
2          Legendary                    0.0            0.0            0.0
           Mythical                     0.0            0.0            0.0
           Normal                       0.0            0.0            0.0
           Sub Legendary                0.0            0.0            0.0
3          Legendary                    0.0            0.0            0.0
           Mythical                     0.0            0.0            0.0
           Normal                       0.0          220.0            0.0
           Sub Legendary                0.0            0.0            0.0
4          Legendary                    0.0            0.0            0.0
           Mythical                     0.0            0.0            0.0
           Normal                       0.0            0.0            0.0
           Sub Legendary                0.0            0.0            0.0
5          Legendary                    0.0            0.0            0.0
           Mythical                     0.0            0.0            0.0
           Normal                       0.0            0.0            0.0
           Sub Legendary              600.0            0.0            0.0
6          Legendary                    0.0            0.0            0.0
           Mythical                     0.0            0.0            0.0
           Normal                       0.0            0.0            0.0
7          Legendary                    0.0            0.0            0.0
           Mythical                     0.0            0.0            0.0
           Normal                       0.0            0.0            0.0
           Sub Legendary                0.0            0.0            0.0
8          Legendary                    0.0            0.0            0.0
           Normal                       0.0            0.0          535.0

species                   Alpha Pokémon  Angler Pokémon  Ant Pit Pokémon  \
generation status
1          Legendary                0.0             0.0              0.0
           Mythical                 0.0             0.0              0.0
           Normal                   0.0             0.0              0.0
           Sub Legendary            0.0             0.0              0.0
2          Legendary                0.0             0.0              0.0
           Mythical                 0.0             0.0              0.0
           Normal                   0.0           330.0              0.0
           Sub Legendary            0.0             0.0              0.0
3          Legendary                0.0             0.0              0.0
           Mythical                 0.0             0.0              0.0
           Normal                   0.0             0.0            290.0
           Sub Legendary            0.0             0.0              0.0
4          Legendary                0.0             0.0              0.0
           Mythical               720.0             0.0              0.0
           Normal                   0.0             0.0              0.0
           Sub Legendary            0.0             0.0              0.0
5          Legendary                0.0             0.0              0.0
           Mythical                 0.0             0.0              0.0
           Normal                   0.0             0.0              0.0
           Sub Legendary            0.0             0.0              0.0
6          Legendary                0.0             0.0              0.0
           Mythical                 0.0             0.0              0.0
           Normal                   0.0             0.0              0.0
7          Legendary                0.0             0.0              0.0
           Mythical                 0.0             0.0              0.0
           Normal                   0.0             0.0              0.0
           Sub Legendary            0.0             0.0              0.0
8          Legendary                0.0             0.0              0.0
           Normal                   0.0             0.0              0.0

species                   Anteater Pokémon  Antenna Pokémon  \
generation status
1          Legendary                   0.0              0.0
           Mythical                    0.0              0.0
           Normal                      0.0              0.0
           Sub Legendary               0.0              0.0
2          Legendary                   0.0              0.0
           Mythical                    0.0              0.0
           Normal                      0.0              0.0
           Sub Legendary               0.0              0.0
3          Legendary                   0.0              0.0
           Mythical                    0.0              0.0
           Normal                      0.0              0.0
           Sub Legendary               0.0              0.0
4          Legendary                   0.0              0.0
           Mythical                    0.0              0.0
           Normal                      0.0              0.0
           Sub Legendary               0.0              0.0
5          Legendary                   0.0              0.0
           Mythical                    0.0              0.0
           Normal                    484.0              0.0
           Sub Legendary               0.0              0.0
6          Legendary                   0.0              0.0
           Mythical                    0.0              0.0
           Normal                      0.0            431.0
7          Legendary                   0.0              0.0
           Mythical                    0.0              0.0
           Normal                      0.0              0.0
           Sub Legendary               0.0              0.0
8          Legendary                   0.0              0.0
           Normal                      0.0              0.0

species                   Apple Core Pokémon  Apple Nectar Pokémon  ...  \
generation status                                                   ...
1          Legendary                     0.0                   0.0  ...
           Mythical                      0.0                   0.0  ...
           Normal                        0.0                   0.0  ...
           Sub Legendary                 0.0                   0.0  ...
2          Legendary                     0.0                   0.0  ...
           Mythical                      0.0                   0.0  ...
           Normal                        0.0                   0.0  ...
           Sub Legendary                 0.0                   0.0  ...
3          Legendary                     0.0                   0.0  ...
           Mythical                      0.0                   0.0  ...
           Normal                        0.0                   0.0  ...
           Sub Legendary                 0.0                   0.0  ...
4          Legendary                     0.0                   0.0  ...
           Mythical                      0.0                   0.0  ...
           Normal                        0.0                   0.0  ...
           Sub Legendary                 0.0                   0.0  ...
5          Legendary                     0.0                   0.0  ...
           Mythical                      0.0                   0.0  ...
           Normal                        0.0                   0.0  ...
           Sub Legendary                 0.0                   0.0  ...
6          Legendary                     0.0                   0.0  ...
           Mythical                      0.0                   0.0  ...
           Normal                        0.0                   0.0  ...
7          Legendary                     0.0                   0.0  ...
           Mythical                      0.0                   0.0  ...
           Normal                        0.0                   0.0  ...
           Sub Legendary                 0.0                   0.0  ...
8          Legendary                     0.0                   0.0  ...
           Normal                      260.0                 485.0  ...

species                   Wish Pokémon  Wolf Pokémon  Wood Gecko Pokémon  \
generation status
1          Legendary               0.0           0.0                 0.0
           Mythical                0.0           0.0                 0.0
           Normal                  0.0           0.0                 0.0
           Sub Legendary           0.0           0.0                 0.0
2          Legendary               0.0           0.0                 0.0
           Mythical                0.0           0.0                 0.0
           Normal                  0.0           0.0                 0.0
           Sub Legendary           0.0           0.0                 0.0
3          Legendary               0.0           0.0                 0.0
           Mythical              600.0           0.0                 0.0
           Normal                  0.0           0.0               357.5
           Sub Legendary           0.0           0.0                 0.0
4          Legendary               0.0           0.0                 0.0
           Mythical                0.0           0.0                 0.0
           Normal                  0.0           0.0                 0.0
           Sub Legendary           0.0           0.0                 0.0
5          Legendary               0.0           0.0                 0.0
           Mythical                0.0           0.0                 0.0
           Normal                  0.0           0.0                 0.0
           Sub Legendary           0.0           0.0                 0.0
6          Legendary               0.0           0.0                 0.0
           Mythical                0.0           0.0                 0.0
           Normal                  0.0           0.0                 0.0
7          Legendary               0.0           0.0                 0.0
           Mythical                0.0           0.0                 0.0
           Normal                  0.0         487.0                 0.0
           Sub Legendary           0.0           0.0                 0.0
8          Legendary               0.0           0.0                 0.0
           Normal                  0.0           0.0                 0.0

species                   Woodpecker Pokémon  Wool Pokémon  \
generation status
1          Legendary                     0.0           0.0
           Mythical                      0.0           0.0
           Normal                        0.0           0.0
           Sub Legendary                 0.0           0.0
2          Legendary                     0.0           0.0
           Mythical                      0.0           0.0
           Normal                        0.0         322.5
           Sub Legendary                 0.0           0.0
3          Legendary                     0.0           0.0
           Mythical                      0.0           0.0
           Normal                        0.0           0.0
           Sub Legendary                 0.0           0.0
4          Legendary                     0.0           0.0
           Mythical                      0.0           0.0
           Normal                        0.0           0.0
           Sub Legendary                 0.0           0.0
5          Legendary                     0.0           0.0
           Mythical                      0.0           0.0
           Normal                        0.0           0.0
           Sub Legendary                 0.0           0.0
6          Legendary                     0.0           0.0
           Mythical                      0.0           0.0
           Normal                        0.0           0.0
7          Legendary                     0.0           0.0
           Mythical                      0.0           0.0
           Normal                      265.0           0.0
           Sub Legendary                 0.0           0.0
8          Legendary                     0.0           0.0
           Normal                        0.0           0.0

species                   Woolly Crab Pokémon  Worm Pokémon  \
generation status
1          Legendary                      0.0           0.0
           Mythical                       0.0           0.0
           Normal                         0.0         195.0
           Sub Legendary                  0.0           0.0
2          Legendary                      0.0           0.0
           Mythical                       0.0           0.0
           Normal                         0.0           0.0
           Sub Legendary                  0.0           0.0
3          Legendary                      0.0           0.0
           Mythical                       0.0           0.0
           Normal                         0.0         195.0
           Sub Legendary                  0.0           0.0
4          Legendary                      0.0           0.0
           Mythical                       0.0           0.0
           Normal                         0.0           0.0
           Sub Legendary                  0.0           0.0
5          Legendary                      0.0           0.0
           Mythical                       0.0           0.0
           Normal                         0.0           0.0
           Sub Legendary                  0.0           0.0
6          Legendary                      0.0           0.0
           Mythical                       0.0           0.0
           Normal                         0.0           0.0
7          Legendary                      0.0           0.0
           Mythical                       0.0           0.0
           Normal                       478.0           0.0
           Sub Legendary                  0.0           0.0
8          Legendary                      0.0           0.0
           Normal                         0.0         185.0

species                   Wrestling Pokémon  Young Fowl Pokémon  \
generation status
1          Legendary                    0.0                 0.0
           Mythical                     0.0                 0.0
           Normal                       0.0                 0.0
           Sub Legendary                0.0                 0.0
2          Legendary                    0.0                 0.0
           Mythical                     0.0                 0.0
           Normal                       0.0                 0.0
           Sub Legendary                0.0                 0.0
3          Legendary                    0.0                 0.0
           Mythical                     0.0                 0.0
           Normal                       0.0               405.0
           Sub Legendary                0.0                 0.0
4          Legendary                    0.0                 0.0
           Mythical                     0.0                 0.0
           Normal                       0.0                 0.0
           Sub Legendary                0.0                 0.0
5          Legendary                    0.0                 0.0
           Mythical                     0.0                 0.0
           Normal                       0.0                 0.0
           Sub Legendary                0.0                 0.0
6          Legendary                    0.0                 0.0
           Mythical                     0.0                 0.0
           Normal                     500.0                 0.0
7          Legendary                    0.0                 0.0
           Mythical                     0.0                 0.0
           Normal                       0.0                 0.0
           Sub Legendary                0.0                 0.0
8          Legendary                    0.0                 0.0
           Normal                       0.0                 0.0

species                   Zen Charm Pokémon
generation status
1          Legendary                    0.0
           Mythical                     0.0
           Normal                       0.0
           Sub Legendary                0.0
2          Legendary                    0.0
           Mythical                     0.0
           Normal                       0.0
           Sub Legendary                0.0
3          Legendary                    0.0
           Mythical                     0.0
           Normal                       0.0
           Sub Legendary                0.0
4          Legendary                    0.0
           Mythical                     0.0
           Normal                       0.0
           Sub Legendary                0.0
5          Legendary                    0.0
           Mythical                     0.0
           Normal                     397.5
           Sub Legendary                0.0
6          Legendary                    0.0
           Mythical                     0.0
           Normal                       0.0
7          Legendary                    0.0
           Mythical                     0.0
           Normal                       0.0
           Sub Legendary                0.0
8          Legendary                    0.0
           Normal                       0.0

[29 rows x 641 columns]

# TASK

### FREE TRAINING!